*{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

:root{
	--white-color:#fff;
	--black-color:#000 ;
	--favorite-color:#ff0000f3;
	--border-color:#58555562;
	--grey-background-color:#e0e0e04f;
}
.search-bar{   
	width: 100%;
}
.search-bar{
	background-color: var(--bg-color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--dark-secondary-text-color);
	border:1px solid var(--label-color);
	justify-self: right;
	width: 26rem;
	padding: 0 1rem 0 0;
}
.search-bar-input{
	width: calc(100% - 2rem);
	border: none;
	background-color: transparent;
	padding: 0.625rem 1rem;
	outline: 0px;
}
.search-bar-btn{
	padding: 0.625rem 0rem 0.625rem 1rem;
}
.navbar-search-bar{
	margin-left: 10rem;
}

.btn-filled-primary{
	padding: 4px 12px;
	border-radius:0 ;
}

.btn-outline-primary{
	border-radius: 0;
}

.badge-icon i{
	font-size: 3rem;
	margin-top: 1rem;
}

.badge-status-number{
	top:-2.7rem;
	right: -0.8rem;
	font-size: 1.5rem;
}


.right-nav-section{
	bottom: 0.4rem;
}

.nav-bar{
	min-height: 7vh;
	max-height: 10vh;
	padding-left: 10rem;
	padding-right: 10rem;
	position: sticky;
}

.product-display{
	grid-area:product-display;
	min-height: 10vh;
	top: 0;
	display: flex;
	padding-left: 12rem;
	padding-right: 12rem;
	justify-content: space-between;
}

.grid-container-skleton{
	grid-template-rows: 7vh 1fr 600px 1fr;
	grid-template-areas: 'header header header header header'
	'product-display product-display product-display product-display product-display'
	'banner-container banner-container banner-container banner-container banner-container'
	'offer-section offer-section offer-section offer-section offer-section';
	row-gap: 3rem;
}

.overlay-container{
	flex-grow: 0;
}

.overlaying-component{
	background-color:unset;
	padding: 0;
	height: 83%;
}

.text-container{
	text-align: center;
	width: 100%;
}

.banner-container{
	grid-area: banner-container;
	margin-left: 12rem;
	margin-right: 12rem;
}

.offer-section{
	grid-area: offer-section;
	display: flex;
	margin-left: 12rem;
	margin-right: 12rem;
	column-gap: 3rem;
}

.banner-container .image-container{
	height: 100%;
}

.margin-top-16{
	margin-top: 1.6rem;
}

.grid-2-column-layout{
	background-color: var(--dark-secondary-color);
}

.offer-section .responsive-img{
	height: 80%;
	width: 80%;
	margin: 10%;
}

.list-inline-item a{
	color: unset;
	text-decoration: none;
}

.offer-section .horizontal-card{
	margin: 10% 10% 10% 0;
}

button .no-style-anchor{
	color: var(--primary-color);
}

.no-style-anchor a{
	text-decoration: none;
	color: var(--primary-color);
}

.no-style-anchor:hover{
	background-color: white;
}
.hamburger{
	display: none;
  }

  .nav-bar-links{
	  display: none;
  }
@media screen and (max-width:1024px) {
	.product-display{
		padding-right: 3rem;
		padding-left: 3rem;
		display: grid;
		grid-auto-flow: column;
		gap: 1.6rem;
		overflow-x: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		padding-inline: 1.6rem;
		position: static;

	}

	.grid-container-skleton{
		grid-template-rows: 7vh 1fr auto auto;
		grid-template-areas: 'header '
		'product-display '
		'banner-container '
		'offer-section '
		'offer-section ';
		row-gap: 3rem;
	}

	

	.vertical-card{
		width: 35rem;
	}

	.banner-container{
		width: 100vw;
	}

	.banner-container,.offer-section{
		margin: 0;
	}

	.banner-container .image-container{
		height: unset;
		width: 100%;
	}

	.offer-section{
		display: flex;
		flex-direction: column;
	}

	.grid-2-column-layout{
		width: 100vw;
		margin-bottom: 4rem;
	}

	.offer-section .horizontal-card{
		margin: 10%;
	}

	.nav-logo,.navbar-search-bar{
		display: none;
	}

	.nav-bar-links{
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		width: 100%;
		display: none;
	  }

	.active .nav-section-items .navbar-search-bar{
		display: block;
	}

	.active .navbar-search-bar{
		margin-left: 0;
	}
	.active .avatar-in-nav-links{
		justify-content: space-between;
		align-items: center;
	  }

	.active .nav-bar-links{
		display: block;
		width: 70%;
		position: absolute;
		top:0;
		left:0;
		background-color: var(--white-color);
		padding: 0rem;
		height: 100vh;
		overflow: auto;
		margin: 0;
	}

	.active .nav-bar-links .list-inline-item:not(.avatar-in-nav-links){
		padding: 1.6rem 2.4rmobile-nav-bg-colorem;
	  }
	  .active .nav-bar-links .list-inline-item:not(:last-of-type) {
		margin-right: 0rem;
	  }
	  .avatar-in-nav-links{
		display: flex;
		width: 100%;
		height: 10rem;
		background-color: var(--bg-color-primary);
		box-sizing: border-box;
		padding: 2.4rem;
	  }
	
	  .hamburger{
		display: block;
		transition: transform 0.2s ease;
	  }

	  .right-nav-section .nav-icons li:nth-child(1){
		  display: none;
	  }

	  .nav-bar{
		  padding-left: 0;
		  padding-right: 0;
		  display: flex;
		  justify-content: space-between;
	  }

}

